<header class="min-vh-100">
  <nav class="navbar navbar-expand-lg fixed-top bg-white bg-opacity-75">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
          <%= image_tag 'Medical.png', alt: "Medical logo" %>
        </a>
        <%= link_to 'Are you a doctor?', admin_dashboard_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </nav>
  <div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
      <div class="card col-lg-6 bg-transparent border-0 text-white" >
        <div class="card-body">
          <h1 class="card-title display-3">The best doctors in <b>Medicine!</b></h1>
          <h5 class="card-subtitle mb-2">in the world of modern medicine!</h5>
          <p class="card-text my-5">Welcome to our medical website, where we prioritize your health and well-being. Explore a wealth of trusted medical information, resources, and services tailored to empower you on your journey to optimal health.</p>
        </div>
      </div>
    </div>
  </div>
</header>
