<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MEDICO LEGAL REPORT, <%= @patient.first_name.humanize %></h1>
    <p>
      Please fill up the following form:
    </p>
    <p>
      <%= link_to 'Open questionnaire', edit_patient_information_url(@patient.id), class: "btn btn-outline-primary" %>
    </p>
    <p>Regards,</p>
    <p>Medico Legal Report Team.</p>
  </body>
</html>
