<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MEDICO LEGAL REPORT, <%= @patient.first_name %></h1>
    <p>
      Please fill up the following form:
    </p>
    <p>
      <a href="https://www.google.com/">Open Form</a>
    </p>
    <p>Regards,</p>
    <p>Medico Legal Report Team.</p>
  </body>
</html>
